doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title KENBC

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/kenbc-favicon.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    | KENBC
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#what-we-do') What We Do
                        li.nav-item
                            a.nav-link(href='#events') Events
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-subheading Fostering common heritage and national identity
                .masthead-heading.text-uppercase Kenyan Community in BC
                // a.btn.btn-primary.btn-xl.text-uppercase(href='#what-we-do') Learn More

        // What We Do
        section#what-we-do.page-section
            .container
                .text-center.pt-1
                    h2.section-heading.text-uppercase.pb-3 What We Do
                    h3.section-subheading.text-muted
                        | Our organization hosts a variety of events that promote mental health awareness, encourage volunteering, and facilitate networking among members.
                .row.text-center.py-3
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-users.fa-stack-1x.fa-inverse
                        h4.my-3 Community
                        p.text-muted
                            | We are dedicated to fostering connections, building bridges, and creating a sense of belonging for all.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-handshake-angle.fa-stack-1x.fa-inverse
                        h4.my-3 Volunteer
                        p.text-muted
                            | Our community seeks to develop the next generation of leaders. We provide multiple forums to give back and collaborate.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-brain.fa-stack-1x.fa-inverse
                        h4.my-3 Mental Health
                        p.text-muted
                            | We are promote mental health through innovative community programs and accessible resources.
                            | Our aim to reduce stigma and foster a supportive environment where mental well-being is prioritized.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-network-wired.fa-stack-1x.fa-inverse
                        h4.my-3 Integration
                        p.text-muted
                            | We provide comprehensive resources and guidance to help newcomers navigate the new environment with confidence and dignity.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-calendar.fa-stack-1x.fa-inverse
                        h4.my-3 Events
                        p.text-muted
                            | Through events, programs, and outreach initiatives, we strive to unite members, sparking meaningful interactions and collaborations that strengthen our community.

                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-hand-holding-heart.fa-stack-1x.fa-inverse
                        h4.my-3 Benevolence
                        p.text-muted
                            | We support our members as they grieve lost loved ones. Our members mobilize to provide support and care for the bereaved.

        // Events Grid
        section#events.page-section.bg-light
            .container
                .text-center.pt-5
                    h2.section-heading.text-uppercase Events
                    h3.section-subheading.text-muted
                        | We host events that cater to culture, mental health, networking, and education, fostering holistic community engagement and growth.
                .row.py-5
                    .col-lg-4.col-sm-6.mb-4
                        // Heritage Gala
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                .portfolio-link
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2023-dec-kenyan-heritage-gala.jpg', alt='Kenyan Heritage Gala event poster')
                                .portfolio-caption
                                    .portfolio-caption-subheading.text-muted.py-2 A celebration of Kenyan culture
                    .col-lg-4.col-sm-6.mb-4
                        // Mother's Day
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                .portfolio-link
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2023-may-mothers-day-celebration.jpg', alt="Mother's Day event poster")
                                .portfolio-caption
                                    .portfolio-caption-subheading.text-muted.py-2 Appreciating mothers in our community
                    .col-lg-4.col-sm-6.mb-4
                        // Surrey Food Fusion Festival
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                .portfolio-link
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/surrey-fusion-festival.jpg', alt='Food Fusion Festival event poster')
                                .portfolio-caption
                                    .portfolio-caption-subheading.text-muted.py-2 We participate in multicultural events
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        // Boniface Mwangi Talk
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                .portfolio-link
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2022-april-boniface-mwangi-event.jpg', alt='Boniface Mwangi event poster')
                                .portfolio-caption
                                    .portfolio-caption-subheading.text-muted.py-2 Inspiring talk by the "People's Watchman"
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        // Financial Literacy Event
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                .portfolio-link
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2022-mar-financial-literarcy-event.jpg', alt='Financial literacy class event poster')
                                .portfolio-caption
                                    .portfolio-caption-subheading.text-muted.py-2 Teaching our community about personal finance
                    .col-lg-4.col-sm-6
                        // Mental Health and Wellness Event
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                .portfolio-link
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2021-oct-mental-health-and-wellness.jpg', alt='Recurring mental health and wellness event poster')
                                .portfolio-caption
                                    .portfolio-caption-subheading.text-muted.py-2 We have recurring series on mental health
                .row
                    .col-12.text-center
                        .mt-5.pt-5
                            a.btn.btn-primary.btn-xl.text-uppercase(href='https://www.instagram.com/kenyans_in_bc', target="_blank")
                                | Learn about upcoming events
                                i.fas.fa-brands.fa-instagram.ms-1


        // About
        section#about.page-section
            .container
                .text-center.pb-5
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted The history of our organization including collaborations with other institutions.
                ul.timeline
                    li
                        .timeline-image
                            .d-flex.justify-content-center.align-items-center.v-100.h-100
                                span.fa-stack.fa-3x.text-center.icon-snap-to-bg
                                    i.fas.fa-gavel.fa-stack-1x.fa-flip-horizontal
                        .timeline-panel
                            .timeline-heading
                                h4 June 2006
                                h4.subheading Incorporation in British Columbia
                            .timeline-body
                                p.text-muted
                                    | Kenyan Community in BC Society was registered as a non-profit organization incorporated under the Society Act of British Columbia in 2006.
                    li.timeline-inverted
                        .timeline-image
                            .d-flex.justify-content-center.align-items-center.v-100.h-100
                                span.fa-stack.fa-3x.text-center.icon-snap-to-bg
                                    i.fas.fa-digging.fa-stack-1x
                        .timeline-panel
                            .timeline-heading
                                h4 September 2019
                                h4.subheading Organization Revived
                            .timeline-body
                                p.text-muted
                                    | A group of Kenyans came together to revive the organization from dormancy to proactively support the successful integration of new Kenyans arriving in British Columbia.
                    li
                        .timeline-image
                            .d-flex.justify-content-center.align-items-center.v-100.h-100
                                span.fa-stack.fa-3x.text-center.icon-snap-to-bg
                                    i.fas.fa-hand-holding-heart.fa-stack-1x
                        .timeline-panel
                            .timeline-heading
                                h4 January 2020
                                h4.subheading The Benevolence Fund Committee
                            .timeline-body
                                p.text-muted
                                    | The Benevolence Fund Committee offers vital assistance to families of deceased expats, providing financial support and logistical aid to facilitate the repatriation process.
                                    | With a compassionate approach, the committee strives to ensure that loved ones are returned home with dignity and respect, easing the emotional and practical burdens faced by grieving families during such challenging times.
                    li.timeline-inverted
                        .timeline-image
                            .d-flex.justify-content-center.align-items-center.v-100.h-100
                                span.fa-stack.fa-3x.text-center.icon-snap-to-bg
                                    i.fas.fa-arrow-trend-up.fa-stack-1x
                        .timeline-panel
                            .timeline-heading
                                h4 November 2021
                                h4.subheading Kenyan Canadian Association CSO Bootcamp
                            .timeline-body
                                p.text-muted
                                    | Our executive team participated in an intensive boot camp for community service organizations (CSO) focused on enhancing transparency, stewardship of donor funds, and maximizing our impact through innovative technology and robust project planning.
                                    | We gained invaluable skills in organizational management, diversified funding strategies, and effective recruitment and retention practices, ensuring our commitment to serving our community with efficiency and integrity remains steadfast.
                    li
                        .timeline-image
                            .d-flex.justify-content-center.align-items-center.v-100.h-100
                                span.fa-stack.fa-3x.text-center.icon-snap-to-bg
                                    i.fas.fa-person-booth.fa-stack-1x
                        .timeline-panel
                            .timeline-heading
                                h4 April 2022
                                h4.subheading Voter Registration Drive
                            .timeline-body
                                p.text-muted
                                    | We collaborated with the Kenya High Commission to get Kenyans in British Columbia to register to vote.
                                    | Over the years we have collborated with the Kenya High Commission in a number of ways including
                                    | events related to immigration services for Kenyans, community engagement and holding townhalls for Kenyans in BC to interact with diplomats and delegations.
                    li.timeline-inverted
                        .timeline-image
                            .d-flex.justify-content-center.align-items-center.v-100.h-100
                                span.fa-stack.fa-3x.text-center.icon-snap-to-bg
                                    i.fas.fa-person-chalkboard.fa-stack-1x
                        .timeline-panel
                            .timeline-heading
                                h4 August 2023
                                h4.subheading New Horizons for Seniors Programs
                            .timeline-body
                                p.text-muted
                                    | Our organization has been part of a Government of Canada federal program that supports community-based projects that are designed by and for seniors in our community.
                                    | Some of our work include addressing social isolation, promoting seniors' digital literacy, and educating seniors about financial abuse and fraud.
                    li
                        .timeline-image
                             .d-flex.justify-content-center.align-items-center.v-100.h-100
                                span.fa-stack.fa-3x.text-center.icon-snap-to-bg
                                    i.fas.fa-person-running.fa-stack-1x
                        .timeline-panel
                            .timeline-heading
                                h4 May 2024
                                h4.subheading BMO Vancouver Marathon
                            .timeline-body
                                p.text-muted
                                    | Our members volunteered in various roles including delivering and moving supplies, cleaning, organizing and setting up equipment, handing out water and electrolytes among other roles.
                                    | We believe in taking an active part in our communities through volunteering and collaborate with various institutions to find ways in which our members can be engaged in the community.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of Our
                                br
                                | Story!
                        .timeline-panel
                            .timeline-heading
                                h4.subheading Partner with us
                            .timeline-body
                                p.text-muted
                                    | Our organization is actively seeking new partnerships with institutions that share our commitment to creating impactful change.
                                    | Together, we can forge innovative solutions and amplify our collective efforts towards a brighter future for all.

        // Team
        section#team.page-section.bg-light
            .container
                .text-center.pt-5
                    h2.section-heading.text-uppercase Our Amazing Team
                    h3.section-subheading.text-muted Meet the experienced executive team that guides our strategic decisions and ensures alignment with our mission and values.
                .row.py-5
                    .col-lg-4
                        .team-member
                            img.m-auto.rounded-circle(src='assets/img/team/kimani-karangu.webp', alt='Kimani Wa Karangu')
                            h4 Kimani Wa Karangu
                            p.text-muted President

                    .col-lg-4
                        .team-member
                            img.m-auto.rounded-circle(src='assets/img/team/kush-kuria.webp', alt='Laban Kush')
                            h4 Laban Kush
                            p.text-muted Vice President

                    .col-lg-4
                        .team-member
                            img.m-auto.rounded-circle(src='assets/img/team/joan-gicho.webp', alt='Joan Gicho')
                            h4 Joan Gicho
                            p.text-muted Treasurer
                .row
                    .col-lg-4
                        .team-member
                            img.m-auto.rounded-circle(src='assets/img/team/sharon-sang.webp', alt='Sharon Sang')
                            h4 Sharon Sang
                            p.text-muted Secretary
                    .col-lg-4
                        .team-member
                            img.m-auto.rounded-circle(src='assets/img/team/wambui-wamae.webp', alt='Wambui Wamae')
                            h4 Wambui Wamae
                            p.text-muted Outreach and Awareness
                    .col-lg-4
                        .team-member
                            img.m-auto.rounded-circle(src='assets/img/team/aucher-wahome.webp', alt='Aucher Wahome')
                            h4 Aucher Wahome
                            p.text-muted IT, Branding and Marketing
                .row
                    .col-lg-4
                        .team-member
                            img.m-auto.rounded-circle(src='assets/img/team/simon-chahasi.webp', alt='Simon Chahasi')
                            h4 Simon Chahasi
                            p.text-muted Events
                    .col-lg-4
                        .team-member
                            img.m-auto.rounded-circle(src='assets/img/team/alex-mutwiri.webp', alt='Alex Mutwiri')
                            h4 Alex Mutwiri
                            p.text-muted Youth Affairs and Sports
                    .col-lg-4
                        .team-member
                            img.m-auto.rounded-circle(src='assets/img/team/agnes-mwambodze.webp', alt='Agnes Mwambodze')
                            h4 Agnes Mwambodze
                            p.text-muted General Affairs

                .row
                    .col-lg-8.mx-auto.text-center.pt-4
                        p.large.text-muted
                            | Our organization thrives under the stewardship of leaders who embrace diversity, openness, and transparency at every turn.
                            | They represent a mosaic of backgrounds and perspectives, fostering inclusive decision-making and innovative solutions.
                            | Through their unwavering commitment to transparency, they empower stakeholders and cultivate trust, ensuring our collective efforts resonate far and wide.

        // Partners
        div.py-5
            .container
                .text-center
                    h2.section-heading.text-uppercase.pt-5 Our Partners
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted.py-5
                            | We extend heartfelt appreciation to our invaluable partners and collaborators whose unwavering support propels our nonprofit organization forward.
                            | Together, we amplify our impact, innovate solutions, and create meaningful change in the communities we serve.
                .row.align-items-center
                    .col-md-6.my-3
                        a(href='https://www.canada.ca/en.html', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/partners/federal-government-of-canada-logo.svg', alt='Government of Canada', aria-label='Government of Canada logo')
                            p.large.text-muted.text-center.py-5.text-decoration-none
                                | The Government of Canada
                    .col-md-6.my-3
                        a(href='https://kenyahighcommission.ca', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/partners/kenya-high-commission-to-canada.png', alt='Kenya High Commission to Canada - Ottawa', aria-label='Kenya High Commission to Canada logo')
                            p.large.text-muted.text-center.py-5.text-decoration-none
                                | The Kenya High Commission to Canada
                    .col-md-6.my-3
                        a(href='https://www.welcomebc.ca/', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/partners/government-of-bc-logo.png', alt='Provincial Government of British Columbia', aria-label='Provincial Government of British Columbia logo')
                            p.large.text-muted.text-center.py-5.text-decoration-none
                                | The Government of British Columbia
                    .col-md-6.my-3
                        a(href='https://www.kcacanada.org/', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/partners/kenyan-canadian-association.jpeg', alt='Kenyan Canadian Association', aria-label='Kenyan Canadian Association logo')
                            p.large.text-muted.text-center.py-5.text-decoration-none
                                | The Kenyan Canadian Association
                    .col-md-6.my-3
                        a(href='https://vancouver.ca/', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/partners/city-of-vancouver.svg', alt='City of Vancouver', aria-label='City of Vancouver logo')
                            p.large.text-muted.text-center.py-5.text-decoration-none
                                | The City of Vancouver BC
                    .col-md-6.my-3
                        a(href='https://bbi.ca/', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto.bg-dark(src='assets/img/partners/bbi-logo.svg', alt='City of Vancouver', aria-label='City of Vancouver logo')
                            p.large.text-muted.text-center.py-5.text-decoration-none
                                | Black Business Initiative
        // Contact
        section#contact.page-section
            .container.h-100
                .d-flex.h-100.flex-column.justify-content-between.text-center.text-uppercase
                    h2.section-heading.pt-5 Contact Us
                    h6.text-center.text-white.pt-5
                        | The best way to contact us is through email.
                    h6.text-center.text-white.pt-5
                        | info@kenyancommunitybc.org
                    .row
                        .col-12.text-center
                            .my-5.py-5
                                a.btn.btn-primary.btn-xl.text-uppercase(href='mailto:info@kenyancommunitybc.org', target="_blank")
                                    | Email Us
                                    i.fas.fa-envelope

        // Footer
        footer.footer.py-4
            .container
                .d-flex.w-100.justify-content-center
                    .row.d-block
                        .col.py-4
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/kenbc-logo.png', aria-label='Kenyan Community in BC logo')
                            p.text-center.pt-4
                                | Kenyan Community in British Columbia Society
                                br
                                | A non-profit society registered with the Province of British Columbia
                                br
                                | #102 - 12332 Pattullo Place
                                br
                                | Surrey, BC V3V 8C3
                .row.align-items-center
                    .col-lg-4.text-lg-start#current-year
                        | Copyright &copy;&nbsp;
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/kenyans_in_bc', aria-label='Twitter' target="_blank")
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/groups/2368046867', aria-label='Facebook', target="_blank")
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/kenyans_in_bc', aria-label='Instagram', target="_blank")
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        | All rights reserved
                .row.align-items-center
                    .col
                        p.text-center.mt-4
                            | Website build with
                            a.text-success(href="https://startbootstrap.com", target="_blank") Start Bootstrap

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
