doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title KENBC

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/kenbc-favicon.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    | KENBC
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#what-we-do') What We Do
                        li.nav-item
                            a.nav-link(href='#events') Events
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-subheading Fostering common heritage and national identity
                .masthead-heading.text-uppercase Kenyan Community in BC
                // a.btn.btn-primary.btn-xl.text-uppercase(href='#what-we-do') Learn More

        // What We Do
        section#what-we-do.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase What We Do
                    h3.section-subheading.text-muted Stronger Together
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-users.fa-stack-1x.fa-inverse
                        h4.my-3 Community
                        p.text-muted
                            | We are dedicated to fostering connections, building bridges, and creating a sense of belonging for all.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-handshake-angle.fa-stack-1x.fa-inverse
                        h4.my-3 Volunteer
                        p.text-muted
                            | Our community seeks to develop the next generation of leaders. We provide multiple forums to give back and collaborate.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-brain.fa-stack-1x.fa-inverse
                        h4.my-3 Mental Health
                        p.text-muted
                            | We are dedicated to fostering connections, building bridges, and creating a sense of belonging for all.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-network-wired.fa-stack-1x.fa-inverse
                        h4.my-3 Integration
                        p.text-muted
                            | We provide comprehensive resources and guidance to help newcomers navigate the new environment with confidence and dignity.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-calendar.fa-stack-1x.fa-inverse
                        h4.my-3 Events
                        p.text-muted
                            | Through events, programs, and outreach initiatives, we strive to unite members, sparking meaningful interactions and collaborations that strengthen our community.

                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-hand-holding-heart.fa-stack-1x.fa-inverse
                        h4.my-3 Benevolence
                        p.text-muted
                            | We support our members as they grieve lost loved ones. Our members mobilize to provide support and care for the bereaved.

        // Events Grid
        section#events.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Events
                    h3.section-subheading.text-muted Some of our past events.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2023-dec-kenyan-heritage-gala.jpg', alt='...')
                                .portfolio-caption
                                    .portfolio-caption-heading.py-2 Kenyan Heritage Gala
                                    .portfolio-caption-subheading.text-muted.py-2 A celebration of Kenyan culture
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 2
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2023-may-mothers-day-celebration.jpg', alt='...')
                                .portfolio-caption
                                    .portfolio-caption-heading.py-2 Mothers' Day 2023
                                    .portfolio-caption-subheading.text-muted.py-2 Appreciating mothers in our community
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/surrey-fusion-festival.jpg', alt='...')
                                .portfolio-caption
                                    .portfolio-caption-heading.py-2 Surrey Fusion Festival
                                    .portfolio-caption-subheading.text-muted.py-2 We participate in multicultural events
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        // Portfolio item 4
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal4')
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2022-april-boniface-mwangi-event.jpg', alt='...')
                                .portfolio-caption
                                    .portfolio-caption-heading.py-2 Boniface Mwangi Talk
                                    .portfolio-caption-subheading.text-muted.py-2 Inspiring talk by the "People's Watchman"
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        // Portfolio item 5
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal5')
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2022-mar-financial-literarcy-event.jpg', alt='...')
                                .portfolio-caption
                                    .portfolio-caption-heading.py-2 Financial Literacy Session
                                    .portfolio-caption-subheading.text-muted.py-2 Teaching our community about personal finance
                    .col-lg-4.col-sm-6
                        // Portfolio item 6
                        .portfolio-item.h-100
                            .d-flex.flex-column.justify-content-between.h-100
                                a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal6')
                                    .portfolio-hover
                                        .portfolio-hover-content
                                            i.fas.fa-plus.fa-3x
                                    img.img-fluid(src='assets/img/events/2021-oct-mental-health-and-wellness.jpg', alt='...')
                                .portfolio-caption
                                    .portfolio-caption-heading.py-2 Mental Health and Wellness
                                    .portfolio-caption-subheading.text-muted.py-2 We have recurring series on mental health
                .row
                    .col-12.text-center
                        .mt-5.pt-5
                            a.btn.btn-primary.btn-xl.text-uppercase(href='https://www.instagram.com/kenyans_in_bc', target="_blank")
                                | Learn about upcoming events
                                i.fas.fa-brands.fa-instagram.ms-1


        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2009-2011
                                h4.subheading Our Humble Beginnings
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 March 2011
                                h4.subheading An Agency is Born
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 December 2015
                                h4.subheading Transition to Full Service
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 July 2020
                                h4.subheading Phase Two Expansion
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of Our
                                br
                                | Story!

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Amazing Team
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='...')
                            h4 Parveen Anand
                            p.text-muted Lead Designer
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                            h4 Diana Petersen
                            p.text-muted Lead Marketer
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                            h4 Larry Parker
                            p.text-muted Lead Developer
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker LinkedIn Profile')
                                i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

        // Partners
        div.py-5
            .container
                .row.align-items-center
                    .col-md-3.col-sm-6.my-3
                        a(href='https://www.canada.ca/en.html', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/partners/federal-government-of-canada-logo.svg', alt='...', aria-label='Microsoft Logo')
                    .col-md-3.col-sm-6.my-3
                        a(href='https://kenyahighcommission.ca', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/partners/kenya-high-commission-to-canada.png', alt='...', aria-label='Google Logo')
                    .col-md-3.col-sm-6.my-3
                        a(href='https://www.welcomebc.ca/', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/partners/government-of-bc-logo.png', alt='...', aria-label='Facebook Logo')
                    .col-md-3.col-sm-6.my-3
                        a(href='https://www.kcacanada.org/', target="_blank")
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/partners/kenyan-canadian-association.jpeg', alt='...', aria-label='IBM Logo')

        // Contact
        section#contact.page-section
            .container.h-100
                .d-flex.h-100.flex-column.justify-content-between.text-center.text-uppercase
                    h2.section-heading Contact Us
                    .section-subheading.text-white.display-6
                        | Our Mailing Address
                        br
                        | 1234 Hornby Street
                        br
                        | Vancouver BC VANCVR
                    .row
                    .col-12.text-center
                        .mt-5.pt-5
                            a.btn.btn-primary.btn-xl.text-uppercase(href='mailto:info@kenyancommunitybc.org', target="_blank")
                                | Email Us
                                i.fas.fa-envelope





        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Kenyan Community BC 2024
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/kenyans_in_bc', aria-label='Twitter' target="_blank")
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/groups/2368046867', aria-label='Facebook', target="_blank")
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/kenyans_in_bc', aria-label='Instagram', target="_blank")
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        | All rights reserved.
                        // a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        // a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        //- include includes/portfolio-modal-1
        //- include includes/portfolio-modal-2
        //- include includes/portfolio-modal-3
        //- include includes/portfolio-modal-4
        //- include includes/portfolio-modal-5
        //- include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
